body{
    position: relative;
    width: 1152px;
    height: 1365px;
    
}

header{
    position: absolute;
    width: 816px;
    height: 218px;
    left: 168px;
    top: 36px;
}

header .title{
    position: relative;
    margin-bottom: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #000000;
}

header .line{
    position: relative;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #666666;
    margin-bottom: 10px;
}

.line span{
color: #15DD7D;
font-weight: bold;
}

header .bottom{
    position: absolute;
    left: 22.06%;
    right: 22.18%;
    top: 90.37%;
    bottom: 0%;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

.features{
    position: relative;
    top: 265px;
    left: 211px;
    width: 63.1%;
    display: flex;
    justify-content: space-between;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #5C5C5C;
}

button{

position: absolute;
width: 286px;
height: 39px;
left: 433px;
top: 294px;
background: #15DD7D;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
border-radius: 3px;
}

button span{
    position: relative;
    margin: 0 auto;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    color: #FFFFFF;
}