body{
    position: relative;
    width: 1152px;
    height: 1365px;
    margin: 0;
}

header{
    position: absolute;
    width: 816px;
    height: 218px;
    left: 168px;
    top: 36px;
}

header .title{
    position: relative;
    margin-bottom: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    color: #000000;
}

header .line{
    position: relative;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #666666;
    margin-bottom: 10px;
}

.line span{
color: #15DD7D;
font-weight: bold;
}

header .bottom{
    position: absolute;
    left: 22.06%;
    right: 22.18%;
    top: 90.37%;
    bottom: 0%;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */

    text-align: center;

    color: #000000;
}

.features{
    position: relative;
    top: 265px;
    left: 211px;
    width: 63.1%;
    display: flex;
    justify-content: space-between;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #5C5C5C;
}

#features{

position: absolute;
width: 286px;
height: 39px;
left: 433px;
top: 294px;
background: #15DD7D;
box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
border-radius: 3px;
}

#features span{
    position: relative;
    margin: 0 auto;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    color: #FFFFFF;
}

#background{
    position: absolute;
    width: 1147px;
    height: 960px;
    left: 64px;
    top: 433px;
    z-index: -20;
    background: rgba(196, 196, 196, 0.8);
}

#green{
    position: absolute;
    width: 31px;
    height: 380px;
    left: 65px;
    top: 568px;
    z-index: -10;
    background: #15DD7D;
}
#red{
    position: absolute;
    width: 31px;
    height: 380px;
    left: 65px;
    top: 948px;
    z-index: -10;
    background: #FA4646;;
}

.tick{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

.lines div{
    position: absolute;
    left: 65px;
    width: 1144px;
    z-index: -8;
    opacity: 0.15;
}
#one{
    top: 568px;
    border-top: 1px solid #000000;
}
#two{
    top: 603px;
    border-top: 1px solid #000000;
}
#three{
    top: 644px;
    border-top: 1px solid #000000;
}
#four{
    top: 679px;
    border-top: 1px solid #000000;
}
#five{
    top: 720px;
    border-top: 1px solid #000000;
}
#six{
    top: 755px;
    border-top: 1px solid #000000;
}
#seven{
    top: 796px;
    border-top: 1px solid #000000;
}
#eight{
    top: 831px;
    border-top: 1px solid #000000;
}
#nine{
    top: 872px;
    border-top: 1px solid #000000;
}
#ten{
    top: 907px;
    border-top: 1px solid #000000;
}

#eleven{
    top: 948px;
    border-top: 2px dashed #565656;;
    opacity: 0.4;
}
#accepted{
    top: 928px;
    left: 110px;
    opacity: 1;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 14px;
    color: #565656;
}
#rejected{
    top: 961px;
    left: 110px;
    opacity: 1;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 14px;
    color: #565656;
}

#twelve{
    top: 983px;
    border-top: 1px solid #000000;
}
#thirteen{
    top: 1024px;
    border-top: 1px solid #000000;
}
#fourteen{
    top: 1059px;
    border-top: 1px solid #000000;
}
#fifteen{
    top: 1098px;
    border-top: 1px solid #000000;
}
#sixteen{
    top: 1133px;
    border-top: 1px solid #000000;
}
#sixteen{
    top: 1133px;
    border-top: 1px solid #000000;
}
#seventeen{
    top: 1174px;
    border-top: 1px solid #000000;
}
#eighteen{
    top: 1209px;
    border-top: 1px solid #000000;
}
#nineteen{
    top: 1249px;
    border-top: 1px solid #000000;
}
#twenty{
    top: 1284px;
    border-top: 1px solid #000000;
}
#twentyone{
    top: 1326px;
    border-top: 1px solid #000000;
    
}

.invisible{
    display: none;
}

.fade-in{
    animation: fade 1s infinite ease-in;
}
@keyframes fade{
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}


.arrow-right {
    position: absolute;
    bottom: 0px;
    left: 309px;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;  
    border-left: 15px solid white;
}


.arrow-right2{
    position: absolute;
    bottom: 0px;
    left: 774px;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;  
    border-left: 15px solid white;
}

.arrow-right3{
    position: absolute;
   
    left: 450px;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;  
    border-right: 15px solid black;
}

.arrow-right4{
    position: absolute;
    left: 1100px;
    bottom: 0px;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;  
    border-left: 15px solid white;
}

.arrow-right5{
    position: absolute;
    left: 825px;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;  
    border-right: 15px solid black;
}

.arrow-right6{
    position: absolute;
    left: 395px;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;  
    border-left: 15px solid white;
}

.arrow-right7{
    position: absolute;
    left: 1094px;
    top: 1266px;
    bottom: 0px;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;  
    border-left: 15px solid white;
}

.arrow-right8{
    position: absolute;
    left: 725px;
    top: 1266px;
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;  
    border-right: 15px solid black;
}

#info1{
    position: absolute;
    width: 307px;
    height: 96px;
    left: 135px;
    /*top: 705px;*/
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

#info2{
    position: absolute;
    width: 352px;
    height: 84px;
    left: 443px;
    /*top: 705px;*/
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

#info3{
    position: absolute;
    width: 307px;
    height: 122px;
    left: 815px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

#info4{
    position: absolute;
    width: 307px;
    height: 96px;
    left: 214px;
    bottom: 321px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

#info5{
    position: absolute;
    width: 407px;
    height: 200px;
    left: 715px;
    top: 1050px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
}

#info6{
    position: absolute;
    width: 330px;
    height: 220px;
    left: 480px;
    top: 980px;
    background: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    box-sizing: border-box;
    padding: 20px;
}



#info6 section{
    display: flex;
    justify-content: flex-end;
}



.l-arrow{
    width: 120px;
    height: 20px;
}

.r-arrow{
    width: 120px;
    height: 20px;
}


.accepted{
    color: #15DD7D;
}

.rejected{
    color: red;
}



footer{
    position: absolute;
    width: 1152px;
    height: 49px;
    left: 0px;
    top: 1400px;
   text-shadow: none;
}
footer .container{
    position: absolute;
    left: 27.34%;
    right: 27.43%;
    top: 30.61%;
    bottom: 30.61%;
    background: white;
}
.container .icon1{
    position: absolute;
    height: 16px;
}

#original{
    position: absolute;
    left:5%;
    top: 30.61%;
    bottom: 30.61%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #07C4FF;

}

.container .icon2{
    position: absolute;
    height: 16px;
    left: 46%;
}

#description{
position: absolute;
left: 50%;
top: 30.61%;
bottom: 30.61%;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
/* identical to box height */
display: flex;
align-items: center;
color: #07C4FF;
}

.bread-crumb{
    position: absolute;
    display: flex;
    top: 385px;
    left: 100px;
    width: 540px;
    justify-content: space-around;
    color: rgba(196, 196, 196, 0.8);
}

.bread-crumb div{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}

i {
    border: solid gray;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 5px;
    position: relative;
    left: 20px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

.bread{
    width: 80px;
    justify-content: space-around;
}

.total{
    position: absolute;
    border-radius: 50%;
    top: 380px;
    left: 100px;
    width: 27px;
    height: 27px;
    background: rgba(196, 196, 196, 0.8);
}

.groups-1{
    position: absolute;
    border-radius: 50%;
    top: 390px;
    left: 234px;
    width: 19px;
    height: 19px;
    background: rgba(196, 196, 196, 0.8);
}

.groups-2{
    position: absolute;
    border-radius: 50%;
    top: 380px;
    left: 222px;
    width: 13px;
    height: 13px;
    background: rgba(196, 196, 196, 0.8);
}

.compare{
    position: absolute;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background: rgba(196, 196, 196, 0.8);
}
.tr{
    top: 380px;
    left: 380px;
    background: rgba(196, 196, 196, 0.8);
}
.tl{
    top: 380px;
    left: 366px;
    background: rgba(196, 196, 196, 0.8);
}
.bl{
    top: 394px;
    left: 366px;
    background: rgba(196, 196, 196, 0.8);
}
.br{
    top: 394px;
    left: 380px;
    background: rgba(196, 196, 196, 0.8);
}
.single-w{
    position: absolute;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    background: white;
    top: 380px;
    left: 514px;
    border: 2px solid rgba(196, 196, 196, 0.8);
}
.single-b{
    position: absolute;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    background: rgba(196, 196, 196, 0.8);
    top: 392px;
    left: 533px;
}

.gray{
    background: rgba(196, 196, 196, 0.8);
    color: rgba(196, 196, 196, 0.8);
}

.black{
    color: black;
}

.blackbg{
    background: black;
}

.rect-1{
    position: absolute;
    text-align: center;
    line-height: 26px;
    background: white;
    width: 174px;
    height: 100px;
    left: 540px;
    
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 20px;
}

.rect-1 span{
    font-weight: normal;
}

.arrow-down {
    position: absolute;
    left: 610px;
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 50px solid white;
}

.sqr{
    display: inline-block;
    width:9px;
    height: 9px;
    background: white;
    border: 1px solid black;
}
.crc{
    display: inline-block;
    width:10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    border: 1px solid black;
}

.hide-1{
    opacity: 0;
}

.rect-2{
    position: absolute;
    text-align: center;
    background: white;
    width: 240px;
    height: 150px;
    left: 608px;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 10px;
}


.arrow-down2{
    position: absolute;
    left: 703px;
    width: 0; 
    height: 0; 
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 75px solid white;
}

.cont{
    display: flex;
    height: 70px;
    font-size: 13px;
    width: 92%;
    margin: 0 auto;
    font-weight: normal;
}

.grayInfo{
    background: #E5E5E5;
    box-sizing: content-box;
    border: 2px solid #E5E5E5;
    padding: 4px;
    width: 30%;
}
.gap{
    width: 3%;
}
.whiteInfo{
    width: 67%;

    text-align: left;
    font-size: 12px;
}
.typical{
    font-weight: bold;
    margin-bottom: 5px;
}
.typInfo span{
    font-weight: bold;
}

.hide-2{
    opacity: 0;
}

.hide-3{
    opacity: 0;
}

.hide-4{
    opacity: 0;
}
.hide-5{
    opacity: 0;
}

.rect-3{
    position: absolute;
    text-align: center;
    background: white;
    width: 240px;
    height: 150px;
    left: 292px;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 10px;
}

.arrow-down3{
    position: absolute;
    left: 387px;
    width: 0; 
    height: 0; 
    top: 685px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 75px solid white;
    
}

.cont{
    display: flex;
    height: 70px;
    font-size: 13px;
    width: 92%;
    margin: 0 auto;
    font-weight: normal;
}
.rect-4{
    position: absolute;
    text-align: center;
    background: white;
    width: 240px;
    height: 150px;
    left: 450px;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 10px;
}

.arrow-down4{
    position: absolute;
    left: 545px;
    width: 0; 
    height: 0; 
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 75px solid white;
}

.display{
    display: none;
}

.rect-5{
    position: absolute;
    text-align: center;
    background: white;
    width: 240px;
    height: 150px;
    left: 826px;
   
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 10px;
}

.arrow-down5{
    position: absolute;
    left: 916px;
    
    width: 0; 
    height: 0; 
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 75px solid white;
}

.square{
    position: absolute;
    width: 12px;
    height: 12px;
    left: 850px;
    top: 1100px;
    background: black;
    border: 1px solid #000000;
    box-sizing: border-box;
}

.flex-5{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
}

.divider{
    position: absolute;
    height: 980px;
    width: 25px;
    top: 420px;
    background: white;
    left: 640px;
    display: none;
    z-index: -5;
}

.gen{
    background: rgba(230, 230, 230, 0.767);
    
    height: 43px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    display: none;
    
}

.o{
    position: absolute;
    top: 433px;
    left: 64px;
    width: 576px;
}

.f{
    position: absolute;
    top: 433px;
    left: 665px;
    width: 546px;
}